@using KodlaTv.WebApp
@using KodlaTv.Entities
@{
    IEnumerable<Video> vidbilgisayar = null;
        vidbilgisayar = Session["BilgisayarBölümü"] as IEnumerable<Video>;
}

<div class="messagebar">
    <div class="container">
        <div class="row ">
            <div class="col-lg-12">
                <span class="title">Bilgilerine paylaş ,hünerlerini sergile</span>
            </div>
        </div>
    </div>
</div>

<section id="main-info" class="container">
    <div>
        <a href="/Video/ListAllComputer"><h2 style="text-align: center; color: black;text-shadow:1px 1px white"> PC Platfromunda Önerilen Yayınlar </h2></a>

        <div class="row">
                @foreach (Video video in vidbilgisayar.Take(6))
                {
                      <div class="col-sm-2 wow fadeIn" data-wow-delay="0.4s">
                            <hr class="line purple">
                          <iframe type="text/html" width="168" height="100" src="@video.Youtubeurl" frameborder="0"></iframe>
                          <a href="/Channel/Userchannel/@video.Channel.Owner.id" style="position:absolute; top:0; left:0; display:inline-block; width:168px; height:100px; z-index:5;"></a>
                          @if (string.IsNullOrEmpty(video.Videoinfo) == false && video.Videoinfo.Length > 27)
                          {
                              <h4 style="text-shadow:1px 1px white">@(video.Videoinfo.Substring(0, 27) + "...")</h4>
                          }
                          else
                          {
                              <h4 style="text-shadow:1px 1px white">@video.Videoinfo</h4>
                          }
                            <p style="font-weight: bold;text-shadow:1px 1px white">izleyici sayısı:@video.Watchnumber</p>
                      </div>
                }
            </div>
        </div>
</section>

@Html.Partial("_PartialMobil");

<div class="messagebar2">
    <div class="container">
        <div class="row ">
            <div class="col-lg-8">
                <span class="title"></span>
            </div>
            <div class="col-lg-4">
                <span class="title">Az kod,Çok iş !</span>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_PartialEasy");

@Html.Partial("_PartialNext");