@using KodlaTv.WebApp
@model KodlaTv.Entities.Channel

@{
    ViewBag.Title = "Kanalı Sil";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>@ViewBag.Title</h2>
        <h3>Silmek istediğinize emin misiniz?</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h4>Kanal</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ChannelName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ChannelName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StreamStatus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StreamStatus)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.complain)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.complain)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Imagefile)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Imagefile)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedOn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifyDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifyDate)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                @Bootstrap.Button("danger", string.Empty, "submit", "remove", " Kaldır")
                @Bootstrap.LinkButton("/Channel/Index", "default", string.Empty, string.Empty, "arrow-left", " Back to List")
            </div>
        }
    </div>

</div>
