@using KodlaTv.WebApp
@model IEnumerable<KodlaTv.Entities.Channel>

@{
    ViewBag.Title = "Kanallar";
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2>@ViewBag.Title</h2>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <p>
            <a href="/Channel/Create" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span>
                Ekle
            </a>
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ChannelName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StreamStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.complain)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Imagefile)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Owner.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifyDate)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChannelName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StreamStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.complain)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Imagefile)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifyDate)
                    </td>
                    <td>
                        @Bootstrap.LinkButton("/Channel/Edit/" + item.id, "warning", "btn-xs", "Düzenle", "edit", string.Empty)
                        @Bootstrap.LinkButton("/Channel/Details/" + item.id, "info", "btn-xs", "Detaylar", "search", string.Empty)
                        @Bootstrap.LinkButton("/Channel/Delete/" + item.id, "danger", "btn-xs", "Kaldır", "trash", string.Empty)
                    </td>
                </tr>
            }

        </table>
       </div>
    </div>